theme = "kanagawa"

[keys.insert.j]
j = "normal_mode"

[keys.insert]
C-p = "paste_before"
C-s = ":write"
C-i = "completion"

[keys.normal]
C-d = ["page_cursor_half_down", "align_view_center"] 
C-u = ["page_cursor_half_up", "align_view_center"] 
C-n = ["scroll_down", "move_visual_line_down"]
C-p = ["scroll_up", "move_visual_line_up"]
X = ["extend_line_above"]
"F6" = "@:sh pandoc --resource-path <C-r>%<C-w> --self-contained --metadata title='Preview' <C-r>% -o /tmp/md-preview.html && handlr open /tmp/md-preview.html<ret>"
# Camel Case to Snake Case
"(" = "@s[A-Z]<ret>~i_<esc>,<A-o><A-;>"
")" = "@s_<ret>d~<esc>,<A-o><A-;>"

[keys.normal.space]
F = "file_picker"
f = "file_picker_in_current_directory"
o = "file_picker_in_current_buffer_directory"
e = "file_explorer_in_current_directory"
E = "file_explorer_in_current_buffer_directory"
i = ":toggle lsp.display-inlay-hints"

[keys.normal.backspace]
r = ":lsp-restart"
f = ":toggle-option auto-format"

[editor]
rainbow-brackets = true
line-number = "relative"
bufferline = "always"
shell = ["fish", "-c"]
completion-trigger-len = 2
scrolloff = 1
rulers = [80, 100, 120]
popup-border="all"
cursorcolumn = true
cursorline = true
end-of-line-diagnostics = "hint"
preview-completion-insert = true
completion-replace = true

[editor.lsp]
display-messages = true
auto-signature-help = false

[editor.statusline]
left = ["mode", "separator", "version-control", "spinner", "read-only-indicator", "file-modification-indicator"]
center = ["selections", "file-name", "total-line-numbers", "position"]
right = ["diagnostics", "separator", "workspace-diagnostics", "register", "file-encoding"]
separator = "│"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.whitespace]
render = "all"

[editor.soft-wrap]
enable = true

[editor.indent-guides]
render = true
character = "▏" # Some characters that work well: "▏", "┆", "┊", "⸽", "╎"

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline
